.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  text-align: center;
}

.Duck {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

.Duck img {
  width: 100%;
  max-width: 400px;
}

.App-intro {
  font-size: large;
}

.App-footer {
  padding: 50px;
}

.App-footer img.github-octocat {
  height: 50px;
}
