.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  text-align: center;
}

.Duck {
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}

.Duck img {
  max-width: 400px;
}

.App-intro {
  font-size: large;
}
